@import "tailwindcss";

.funnel-display-sm {
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

.funnel-display-reg {
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

.funnel-display-bold {
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }

.stacked-linear {
  background-color: #48105e;
  background-image:
    linear-gradient(217deg, rgba(44, 4, 66, 0.8), rgb(255 0 0 / 0%) 70.71%),
    linear-gradient(127deg, rgba(50, 23, 118, 0.8), rgb(0 255 0 / 0%) 70.71%),
    linear-gradient(336deg, rgba(52, 45, 105, 0.8), rgb(0 0 255 / 0%) 70.71%);
}
